version: "3.9"

services:
  api:
    build: .
    ports:
      - "9755:7755"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    ports:
      - "7000:3000"
    volumes:
      - grafana-data:/var/lib/grafana

    depends_on:
      - prometheus

volumes:
  grafana-data: